.nicName {
    font-size: 24px;
    text-shadow: 0 0 5px #ff6b75, 0 0 8px #e51927, 0 0 10px #c00511;
    color: #1d1b1b;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4c4747;
    animation: glowingStrokeColor 3s infinite, glowingRedTextShadow 3s infinite;
    cursor: pointer;
}

@keyframes glowingStrokeColor {
    0% { -webkit-text-stroke-color: #ff6b75; }
    33% { -webkit-text-stroke-color: #e51927; }
    66% { -webkit-text-stroke-color: #c00511; }
    100% { -webkit-text-stroke-color: #ff6b75; }
}

@keyframes glowingRedTextShadow {
    0% { text-shadow: 0 0 5px #ff6b75, 0 0 8px #e51927, 0 0 10px #c00511; }
    33% { text-shadow: 0 0 5px #e51927, 0 0 8px #c00511, 0 0 10px #ff6b75; }
    66% { text-shadow: 0 0 5px #c00511, 0 0 8px #ff6b75, 0 0 10px #e51927; }
    100% { text-shadow: 0 0 5px #ff6b75, 0 0 8px #e51927, 0 0 10px #c00511; }
}

ul {
    color: var(--color4);
    cursor: pointer;
}
